<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Olma Ekranı</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='kayit.css') }}">

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="/ana_ekran">evenTMap</a>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="container">
            <form action="/kayit" method="POST">
                <div class="title">Kayıt Ol</div>

                <div class="input-box">
                    <input type="email" name="email" placeholder="Email giriniz..." required>
                    <div class="underline"></div>
                </div>

                <div class="input-box">
                    <input type="password" name="password" placeholder="şifrenizi giriniz..." required>
                    <div class="underline"></div>
                </div>

                <div class="input-box button">
                    <input type="submit" value="Kayıt Ol">
                </div>

            </form>

            <div class="text">veya zaten kayıtlıysanız giriş yapın</div>

            <div class="button">
                <a href="/giris">Giriş Yap</a>
            </div>

        </div>
    </div>

    <script src="{{ url_for('static', filename='JS/kayit.js') }}"></script>


</body>
</html>